# Начало работы

Для того, чтобы начать использовать API Сервиса, необходимо получить Авторизационные данные. Для их получения выполните следующие действия:

1. Зарегистрируйтесь в Сервисе:
  1. Зайдите в ЛК.
  1. Нажмите «Получить доступ».
  1. Заполните все поля появившейся формы.
  1. Нажмите «Получить доступ».
  1. Далее следуйте подсказкам на экране.
1. Примите оферту:
  1. Войдите в личный кабинет.
  1. Откройте пункт меню «API».
  1. Выполните инструкцию по принятию оферты.

В результате мы сформируем для вас Авторизационные данные. О том, что Авторизационные данные сформированы, мы уведомим вас по телефону или e-mail, которые были указаны при регистрации.

<aside class="notice">
Т.к. процесс валидации учётной записи и формирования Авторизационных данных для неё может занять некоторое время, мы обеспечили возможность <a href="#testirovanie-integratsii">тестирования интеграции</a> с сервисом до завершения валидации учётной записи.
</aside>
